<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/7c3a0709de.js" crossorigin="anonymous"></script>
    <title>Iniciar Sesión</title>
</head>

<body class="login">
    <header>
        <div class="logo"><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre"></a></div>
        <div class="search">
            <form action="" method="get">
                <input type="text" placeholder="Buscar productos, marcas" class="search" name="search" id="search">
                <button type="submit" name="search" id="search" class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul class="productos">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="usuario">
                <li><a href="/register">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <h1>Iniciar Sesión</h1>
        <form action="" method="get">
            <div class="container">
                <input type="text" name="nameUser" id="nameUser" placeholder="Nombre de usuari@" required>
                <small>Debe ingresar su nombre de usuario</small>
            </div>
            <div class="container">
                <input type="password" name="pass" id="pass" placeholder="Deja tu contraseña" required>
                <small>Debe ingresar su contraseña</small>
            </div class="container">
            <div class="container button">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    

    </body>