footer{
    display: flex;
    justify-content: space-between;
    justify-content: center; 
}
.pF{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 12px;
    margin-bottom: 40px;
}
.footerContainer{
    display: flex;
    width: 70%;
    flex-direction: column;
}
.footerContainer .iconFoot{
    display: flex;
    margin-bottom: 10px;
    font-size: 2em;
    color: var(--celeste);
    flex-direction: row;
    justify-content: center;
}
.hFooter{
display: flex;
justify-content: center;
}