
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fuentePrincp);
    
}
ul li a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
body{
    background-color: var(--grisClaro);
}


/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
 */
