.header{
    display: flex;
}
.home header{
    font-weight: 12px;
}
.searchBar{
    background-color: white;
    display: inline-block;
    padding-right: 15px;
    border: solid var(--grisOscuro) 1px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: var(--grisOscuro);
    font-size: 16px;
}
.fa-magnifying-glass{
    background-color: var(--grisClaro);
    border: solid var(--grisOscuro) 1px;
    padding: 3px 1.5px 3px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.logo{
    width: 60%;
    margin-left: 30px;
    padding-top: 40px;
}
.p2{
    margin-left: 60px;
}
.links1{
    margin:20px 30px 15px ;
}
.links2{
    margin-left: 30px;
}
.fa-id-card{
    margin-left: 3px;
}

.fa-right-to-bracket{
    margin-left: 3px;
}

.fa-basket-shopping{
    margin-left: 3px;
}
.fa-bars{
    background-color: var(--celeste);
    border-radius: 10%;
    padding: 15px;
    font-size: 22px;
    color: white;
}
.burger{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px;
}
