.header{
    background-color: var(--amarillo);
    padding-bottom: 25px;
}
.buscar{
    background-color: white;
    display: inline-block;
    padding-right: 15px;
    border: solid var(--grisOscuro) 1px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 1px;
    color: var(--grisOscuro);
    font-size: 16px;}

.fa-magnifying-glass {
        background-color: var(--grisClaro);
        border: solid var(--grisOscuro) 1px;
        padding: 2px 1.25px 2px;
        margin-bottom: 20px;}

.logo{
    width: 50%;
    margin-left: 30px;
    padding-top: 40px;
}
.home .header i{
    margin-left: 3px;
}
.fa-bars{
    background-color: var(--celeste);
    border-radius: 10%;
    padding: 15px;
    font-size: 25px;
    color: white;
    
}
.burger{
    text-align: center;
}
.slogan{
    margin: 10px 0px 20px 40px;
}

.headerListTop{
    margin-bottom: 15px;
}
.links{
    margin-bottom: 15px;
}
header .links{
    display: none;
}
/* Tablet */
@media (min-width:461px) {

    header .links{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 0;
    }
    header .burger{
        display: none;
    }
    .headerListTop, .headerListBottom{
        display: flex;
    }
    .headerListTop li, .headerListBottom li{
        margin: 10px;
    }
    .slogan{
        position: absolute;
        top: 10%;
        right: 0;
        font-size: 14px;
    }
    .logo{
        width: 28%;
    }
    .searchBar{
        position: absolute;
        top: 10%;
        left: 29%;
    }
    .header{
        padding-bottom: 0;
    }

}

/* Desktop */
@media (min-width:769px) {
    header .links{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        margin-bottom: 0;
    }
    header .burger{
        display: none;
    }
    .headerListTop, .headerListBottom{
        display: flex;
    }
    .headerListTop li, .headerListBottom li{
        margin: 10px;
    }
    .slogan{
        position: absolute;
        top: 10%;
        right: 0;
        font-size: 14px;
    }
    .logo{
        width: 28%;
    }
    .searchBar{
        position: absolute;
        top: 10%;
        left: 29%;
    }
    .header{
        padding-bottom: 0;
    }
}