  .home main {
    width: 90%;
    margin: 0 auto;
  }
  
  .home section img {
    width: 100%;
  }
  
  .home main section h3.titulares {
    font-size: 1.3rem;
    color: var(--grisOscuro);
    margin-left: 10px;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 0.2rem rgb(200, 200, 200);
    margin-bottom: 1rem;
  }
  
  .home main section.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .home main .precios {
    width: 30%;
  }
  
  .home main .descuentos {
    width: 70%;
  }
  
  .home main .precios,
  .home main .descuentos {
    align-content: baseline;
  }
  
  .home p.precios,
  .home h3.descripcion {
    font-size: 1.125rem; 
    color: #666;
  }
  
  .home p.descuentos {
    font-size: 1rem; 
  }
  
  .home main section div article {
    margin: 10px 0;
    background-color: #fff;
  }
  
  .home main article div {
    border-top: solid 1px var(--grisClaro);
    margin: 0 15px;
    padding: 10px;
  }
  .home main article img {
    width: 100%;
  }
  
  .home main div i,
  .home .descuentos {
    color: var(--verde);
  }
  
  .home main .description {
    width: 30%;
  }
  
  .home main div {
    position: relative;
  }
  
  .home main div i {
    display: block;
    font-size: 1rem;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px var(--verde);
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 20px;
    top: -15px;
  }
  
  .home main h3.descripcion {
    padding-top: 20px;
    margin: 20px 0;
  }
  
  .home main .precios {
    width: 70%;
    display: inline;
  }
  
  .home main .descuentos {
    width: 30%;
    display: inline;
  }
  
  @media (min-width: 576px) {
    .home main section article {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  
    .home main section div.contenedor-productos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .home main section h3.titulares {
      margin-left: 30px;
    }
  
    .home main section div article {
      width: 44%;
      margin: 0.5rem;
    }
  
    .home main section div article:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  }
  
  @media (min-width: 768px) {
    .home main section h3.titulares {
      margin-left: 45px;
    }
  
    .home main section div article {
      width: 22%;
    }
  
    .home p.descuentos,
    .home h3.descripcion {
      font-size: 1rem;
    }
  }


